@model List<Products>

@{
    ViewBag.Title = "ProductPage";
    string str = ".jpg";
}

@section CSS
{
    <link href="~/Assets/css/ProductsPageStyles.css" rel="stylesheet" />
}

<div style="margin: 8rem auto 6rem;">
    <p class="text-center h4 mt-3" style="color:dimgrey;"><i>─ 我們的威士忌 ─</i></p>
    <p class="text-center h2 my-4">探索我們的單一麥芽威士忌</p>
    <p class="text-center h5 mb-3" style="color:dimgrey;" v>
        每一款 Macallan 單一麥芽威士忌均展現出自 1824 年以來，我們對於製桶與釀酒工藝無人能及的堅持。
    </p>
</div>

<div id="exhibit" class="row m-0 p-0 mb-5">
    <!-- 選單 -->
    <div id="sidenav" class="col-2 pl-4 grid_9 alpha">


        <h3>商品 Products</h3>
        <dl>
            <dt><a href="#">所有產品</a></dt>
            <dt><a href="#">最新商品</a></dt>
            <dt><a href="#">熱門商品</a></dt>
            <dt><a href="#">預購商品</a></dt>
            <dt><a href="#">高價稀有品</a></dt>

        </dl>
        <hr>
        <h3>產區 Area</h3>

        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">法國/波爾多</label>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck2">
            <label class="form-check-label" for="exampleCheck2">法國/勃根地</label>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck3">
            <label class="form-check-label" for="exampleCheck3">法國/隆河</label>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck4">
            <label class="form-check-label" for="exampleCheck4">法國/香檳區</label>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck5">
            <label class="form-check-label" for="exampleCheck5">法國/其他產區</label>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck6">
            <label class="form-check-label" for="exampleCheck6">義大利</label>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck7">
            <label class="form-check-label" for="exampleCheck7">西班牙</label>
        </div>

        <hr>
        <h3>類型 Type</h3>

        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">紅酒</label>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">白酒</label>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">甜酒/貴腐酒</label>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">氣泡酒/微氣泡/香檳</label>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">粉紅酒</label>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">配件/杯子/禮盒</label>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">烈酒</label>
        </div>

        <hr>
        <h3>年份 Year</h3>
        <div class="row ml-1">
            <input type="text" style="width: 70px;height: 40px;" placeholder="年份(起)">
            <h3>~</h3>
            <input type="text" style="width: 70px;height: 40px;" placeholder="年份(訖)">
        </div>

        <hr>
        <h3>價格 Price</h3>
        <div class="row ml-1">
            <input type="text" style="width: 70px;height: 40px;" placeholder="價格(起)">
            <h3>~</h3>
            <input type="text" style="width: 70px;height: 40px;" placeholder="價格(訖)">
        </div>



    </div>

    <!-- 產品 -->
    <div class="container col-9 bg-transparent">
        <div class="row d-flex justify-content-between">

            @foreach (var item in Model)
            {
            <div class="product-block">
                @*<a class="nav-link text-white px-4" href="@Url.Action("ProductPage","Wine")">SHOP</a>
                @Html.ActionLink("編輯", "ProductEdit", new { id = item.ProductID })*@
                <a href="@Url.Action("ProductDetail","Product" , new { id = item.ProductID })">
                    <div class="product-img">
                        <img class="picture-wine" src="~/Assets/img_Products/@Html.DisplayFor(modelItem => item.Picture) " alt="p_sherry_oak" title="p_sherry_oak" />

                        <img class="picture-color" src="~/Assets/img_ProductPage/circle-hover.png">

                        <img class="picture-nocolor" src="~/Assets/img_ProductPage/circle.jpg">
                    </div>
                </a>

                <div class="product-intro">
                    <h3>
                        Sherry Oak 系列 @ViewData[item.CategoryID.ToString()]
                    </h3>
                    <p>@Html.DisplayFor(modelItem => item.ProductName)</p>
                    <p>Explore</p>
                </div>
            </div>
            }
        </div>
    </div>
</div>

@section JQuery
{
    <script>
        $(function () {
            $("header nav")
                .removeClass("navbar-dark")
                .addClass("navbar-light");
            $("header a img").prop("src", "../../Assets/img_Index/logo_dark.png");
            $("header .nav-item > a")
                .removeClass("text-white")
                .addClass("text-dark");
            $("#search-input")
                .removeClass("whiteplaceholder")
                .removeClass("text-white")
                .addClass("blackplaceholder")
                .addClass("text-dark");
            $(window).scroll(function () {
                var scrollVal = $(this).scrollTop();
                if (scrollVal > 0) {
                    $("header").addClass("fixed-header");
                }
                if (scrollVal == 0) {
                    $("header").removeClass("fixed-header");
                }
            });
        });
    </script>
}