@model Team7MVC.Models.Customers

@{
    ViewBag.Title = "CustomerEdit";
}

<div class="content">
    <div class="row">
        <div class="col-md-4">
            <div class="card card-user">
                <div class="image">
                    <img src="~/Assets/img_user/damir-bosnjak.jpg" alt="...">
                </div>
                <div class="card-body">
                    <div class="author">

                        <img class="avatar border-gray" src="~/Assets/img_user/@Html.DisplayFor(model => model.Picture)" alt="@Html.DisplayFor(model => model.CustomerID)">
                        <h5 class="title">@Html.DisplayFor(model => model.CustomerName)</h5>

                        <p class="description">
                            性別: @Html.DisplayFor(model => model.Gender)
                        </p>
                    </div>

                </div>
                <div class="card-footer">
                    <hr>
                    <div class="button-container">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-6 ml-auto">
                                <h5>
                                    12
                                    <br>
                                    <small>Files</small>
                                </h5>
                            </div>
                            <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
                                <h5>
                                    2GB
                                    <br>
                                    <small>Used</small>
                                </h5>
                            </div>
                            <div class="col-lg-3 mr-auto">
                                <h5>
                                    24,6$
                                    <br>
                                    <small>Spent</small>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-8">
            <div class="card card-user">
                <div class="card-header">
                    <h5 class="card-title">個人資料修改</h5>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="row">
                            <div class="col-md-5 pr-1">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Account, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Account, new { htmlAttributes = new { @class = "form-control", @ReadOnly = true } })
                                    @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="col-md-4 pl-1">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6 pl-1">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-4 px-1">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="update ml-auto mr-auto">
                                <button type="submit" class="btn btn-primary btn-round">更新資料</button>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>

    </div>

</div>

@section JQuery
{
    <script>
        $(function () {
            $("header nav")
                .removeClass("navbar-dark")
                .addClass("navbar-light");
            $("header a img").prop("src", "/Assets/img_Index/logo_dark.png");
            $("header .nav-item > a")
                .removeClass("text-white")
                .addClass("text-dark");
            $("#search-input")
                .removeClass("whiteplaceholder")
                .removeClass("text-white")
                .addClass("blackplaceholder")
                .addClass("text-dark");
            $("header").addClass("fixed-header");
        });
    </script>
}