@model IEnumerable<ShopListsViewModel>

@{
    ViewBag.Title = "ShoppingCart";
    int count = 1;
    decimal SumMoney = 0;
    foreach(var item in Model)
    {
        SumMoney += item.TotalCost;
    }
}


@section CSS
{
    <link href="~/Assets/css/shopping-cart.css" rel="stylesheet" />
}
<header class="page-header fixed-header">
    <nav class="navbar navbar-expand-lg px-0 py-auto navbar-light">
        <button class="navbar-toggler border-0 px-3" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <a class="navbar-brand m-0 px-3" href="@Url.Action("Index","Wine")" id="logo">
            <img src="~/Assets/img_Index/logo_dark.png" alt="logo">
        </a>

        <div class="collapse navbar-collapse px-3" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark px-4" href="#">INSIDE THE MACALLAN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark px-4" href="@Url.Action("ProductPage","Wine")">SHOP</a>
                </li>
            </ul>
            <div class="input-group mr-5 px-3" id="header-search">
                <input type="text" class="form-control text-white border-dark blackplaceholder" placeholder="Search"
                       aria-label="Search" aria-describedby="search" id="search-input">
                <div class="input-group-append">
                    <button class="btn btn-dark border-0 text-white font-weight-bold" type="button"
                            id="search">
                        Search
                    </button>
                </div>
            </div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-dark px-3" href="@Url.Action("ShoppingCart","Wine")">
                        <i class="fas fa-shopping-bag"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark px-3" href="@Url.Action("Contact","Wine")">
                        <i class="far fa-envelope"></i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-dark dropdown-toggle px-3" href="#" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        @{
                            if (User.Identity.Name == string.Empty)
                            {
                                @Html.ActionLink("登入", "Login", new { ActionName = ViewBag.Title }, new { @class = "dropdown-item" })

                            }
                            else
                            {
                                <a class="dropdown-item" href="@Url.Action("SignOut","Wine")">@User.Identity.Name 登出</a>
                            }
                        }
                        @Html.ActionLink("註冊", "Register", "Account", null, new { @class = "dropdown-item" })
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="Products-Detail">
    <div class="container">
        <div class="Detail-path">
            <ul class="path">
                <li>
                    <a href="#">Basket</a><i class="fas fa-chevron-right"></i>
                </li>
                <li>
                    Information<i class="fas fa-chevron-right"></i>
                </li>

                <li>
                    Shipping
                </li>
            </ul>
        </div>
    </div>
    <!-- <div class="Detail-Step"> 進度條
        <div class="container">
            <ul class="progress">
                <li class="active">step1</li>
                <li>step2</li>
                <li>step3</li>
            </ul>
        </div>

    </div> -->
    <div class="Detail">
        <div class="container">

            <table>
                <tr class="Detail-row">
                    <td class="Detail-table-title">序</td>
                    <td class="Detail-table-title">商品名稱</td>
                    <td class="Detail-table-title">年份</td>
                    <td class="Detail-table-title">產地</td>
                    <td class="Detail-table-title">單價</td>
                    <td class="Detail-table-title">數量</td>
                    <td class="Detail-table-title">小計</td>
                    <td class="Detail-table-title">刪除</td>
                </tr>

                @foreach (var item in Model)
                {
                    @*@Html.Partial("ShoppingCartPartial")*@
                    <tr>
                        <!-- <td colspan="8" class="Detail-table-row">您的清單內目前沒有任何商品</td> -->
                        <td class="Detail-table-title">@count</td>
                        @{ count++;}
                        <td class="product-name">
                            @*<img src="~/Assets/img_ShoppingCart/000000000001.jpg" alt="商品">*@
                            <img src="~/Assets/img_Products/@Html.DisplayFor(modelItem => item.Picture)" alt="商品"/>
                            <a href="#">
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </a>
                        </td>
                        <td class="Detail-table-title">@Html.DisplayFor(modelItem => item.Year)</td>
                        <td class="Detail-table-title">@Html.DisplayFor(modelItem => item.Origin)</td>
                        <td class="Detail-table-title">@Html.DisplayFor(modelItem => item.Price)</td>
                        <td class="Detail-table-title">
                            <select class="custom-select" id="inputGroupSelect01">
                                <option selected>@Html.DisplayFor(modelItem => item.Quantity)</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </td>
                        <td class="Detail-table-title">@Html.DisplayFor(modelItem => item.TotalCost)</td>
                        <td class="Detail-table-title">
                            <i class="far fa-trash-alt"></i>
                        </td>
                    </tr>
                }
                <tr class="Detail-price">
                    <td colspan="6">商品金額總計</td>
                    <td>@SumMoney</td>
                    <td></td>
                </tr>
            </table>
            <div class="Detail-btn">
                @using (Html.BeginForm())
                {
                    <input type="submit" class="btn btn-light" value="CheckOut" />
                }
            </div>
        </div>
    </div>

</div>